<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
	<persistence-unit name="adServerPersistenceUnit" transaction-type="RESOURCE_LOCAL" >
		<class>com.adserver.entities.AdCampaign</class>
		<class>com.adserver.entities.AdCampaignHit</class>
		<class>com.adserver.entities.AdCategory</class>
		<class>com.adserver.entities.AdCustomer</class>
		<class>com.adserver.entities.AdDetails</class>
		<class>com.adserver.entities.AdMapping</class>
		<class>com.adserver.entities.AdSpaceDetails</class>
	</persistence-unit>
</persistence>